/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
@import './normalize.css';

body{
    background-color: #e3d6bf;
}
main{
    display: flex;
    justify-content: center;
}
.main-container{
    width: 80vw;
}
/* 입력 부분 */
.form__container{
    width: 40vw;
}
.form .form__input--wrapper{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.form__input--wrapper> div{
    display: flex;
    align-items: center;
}

#name {
    width: 10vw;
    height: 40px;
    min-width: 100px;
    border-radius: 40px;
    text-align: center;
    border: none;
    background-color: rgb(143, 243, 243);
}
.form__input--name{
    margin-right: 10px;
}
#title {
    width: 25vw;
    height: 40px;
    min-width: 220px;
    border-radius: 40px;
    text-align: center;
    border: none;
    background-color: rgb(143, 243, 243);
}

#story {
    width: 36vw;
    min-width: 330px;
    height: 50px;
    background-color:rgb(243, 211, 253);
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

.form textarea{
    resize: none;
}

.btn-submit{
    background-color: brown;
    border: none;
    height: 30px;
    border-radius: 30px;
    padding: 10px 30px;
}

/* 글 리스트 스타일 */
.discussion__container{
    display:flex;
    align-items: center;
}
.discussion__title{
    margin: 0;
}
.discussion__content{
    margin-left: 1rem;
}
.discussion__avatar--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
}
.discussion__avatar--image{
    width: 64px;
    height: 64px;
}
.discussion__title a{
    text-decoration: none;
    color: #414141;
    font-size: 1.3rem;
}


.post-container{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, auto));
    row-gap: 20px;
    justify-items: center;
}

.post-it {
    background-color: #ececb8;
    box-shadow: 5px 5px 15px 1px #414141;
    width: 30vw;
    min-width: 270px;
    max-width: 450px;
    height: 20vw;
    min-height: 270px;
    max-height: 450px;
}


/* top 버튼 */
.btn-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border : none;
    background-color: orange;
}