/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
@import './normalize.css';

body{
    background-color: #e3d6bf;
    background-image: url('../image/postIt-background.png');
    padding-bottom: 30px;
}

.logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.logo-wrap > div{
    padding: 30px 10px;
    background-color: #83cdcc;
    width: 50vw;
    box-shadow: 5px 5px 15px 1px #414141;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-container{
    width: 80vw;
}
.main-container h1{
    text-align: center;
    color:#303030
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vw;
    margin-bottom: 20px;
}
.question button{
    width: 150px;
    height: 70px;
    border: none;
    background-color: #bcccdb;
    box-shadow: 5px 5px 15px 1px #527e7e;
}
/* 입력 부분 */

.form__container{
    width: 40vw;
    min-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    padding: 40px;
    text-align: center;
    background-color: #d1e2f2;
    box-shadow: 5px 5px 15px 1px #414141;
    transform: translateX(-50%) translateY(-50%);
}
.form .form__input--wrapper{
    margin-bottom: 10px;
}
.form__input--wrapper> div{
    display: flex;
    align-items: center;
}

#name {
    width: 40vw;
    height: 40px;
    min-width: 400px;
    border-radius: 40px;
    text-align: center;
    border: none;
    background-color: #bcccdb;
    margin-bottom: 10px;
}

#title {
    width: 40vw;
    height: 40px;
    min-width: 400px;
    border-radius: 40px;
    text-align: center;
    border: none;
    background-color: #bcccdb;
}

#story {
    width: 40vw;
    min-width: 400px;
    height: 200px;
    background-color:#bcccdb;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form textarea{
    resize: none;
}

.btn-submit{
    background-color: #fadce4;
    box-shadow: 5px 5px 15px 1px #909090;
    border: none;
    width: 150px;
    height: 70px;
    margin-right:20px ;
}
.btn-input-close{
    background-color: #fadce4;
    box-shadow: 5px 5px 15px 1px #909090;
    border: none;
    width: 150px;
    height: 70px;
    margin-left:20px ;
}
/* 글 리스트 스타일 */
.discussion__container{
    display:flex;
    align-items: center;
}
.discussion__title{
    margin: 0;
}
.discussion__content{
    margin-left: 1rem;
}
.discussion__avatar--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
}
.discussion__avatar--image{
    width: 64px;
    height: 64px;
}
.discussion__title a{
    text-decoration: none;
    color: #606060;
    font-size: 1.3rem;

}
.discussion__information{
    text-decoration: none;
    color: #808080;
    font-size: 0.9rem;
}

.post-container{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, auto));
    row-gap: 20px;
    justify-items: center;
}

.post-it {
    background-color: #ececb8;
    box-shadow: 5px 5px 15px 1px #414141;
    width: 30vw;
    min-width: 270px;
    max-width: 450px;
    height: 20vw;
    min-height: 270px;
    max-height: 450px;
}


/* top 버튼 */
.btn-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border : none;
    background-color: #e8f3eb;
    box-shadow: 5px 5px 15px 1px #414141;
}
/* 모달 */
.post-it-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hide {
    display: none;
}

.post-it-modal.show {
    display: block;
}

.post-it-modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    padding: 40px;
    text-align: center;
    background-color: #ececb8;
    box-shadow: 5px 5px 15px 1px #414141;
    transform: translateX(-50%) translateY(-50%);
}

/* 포스트잇 모달 창 질문부분 */
.post-it-question-wrap{
    background-color: #d7d7a9;
    border-radius: 40px;
    position: absolute;
    top: 10%;
    width: 560px;
    padding: 20px;
}
.post-it-modal-title{
    text-decoration: none;
    color: #606060;
    font-size: 1.3rem;
    font-weight: 700;
}
.post-it-modal-question{
    display: block;
    text-decoration: none;
    color: #576464;
    font-size: 1.1rem;
    padding-top: 20px;
}
.post-it-modal-info{
    text-decoration: none;
    color: #808080;
    font-size: 0.9rem;
}

/* 포스트잇 모달 창 답변부분 */
.post-it-modal-answer-wrap{
    background-color: #d7d7a9;
    border-radius: 40px;
    position: absolute;
    bottom: 10%;
    width: 560px;
    padding: 20px;    
}
.post-it-modal-answer-avatar{
    width: 64px;
    height: 64px;
}
.post-it-modal-answer-info{
    text-decoration: none;
    color: #808080;
    font-size: 0.9rem;
}
.post-it-modal-answer-url{
    font-weight: 700;
    display: block;
    text-decoration: none;
    color: #576464;
    font-size: 1.1rem;
    padding-top: 20px;
}


@media (max-width: 768px) {
    .post-container{
        grid-template-columns: repeat(auto-fill, minmax(80%, auto));
    }
}